# CI trigger on master branch, only for changes in included path
trigger:
  batch: true
  branches:
    include:
    - master

variables:
  # You don't need to change anything here, unless you want to
  # publish docker image or documents to somewhere else.
  - group: kentoso-acr-credentials
  - group: kentoso-dev-twistlock-credentials
  - group: kentoso-private-pypi-url
  # - group: kentoso-doc-blobstorage

resources:
  repositories:
    - repository: templates
      type: github
      name: KenSciML/BuildTemplates
      endpoint: KenSciML

jobs:
- template: python-package.yaml@templates
  parameters:
    publish_doc: false